// bootstrap import
@import "~bootstrap/scss/bootstrap.scss";

// fonts import
@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Poppins|Roboto:100|Ubuntu");
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway&display=swap');

// local css file imports
@import 'colors.scss';

// variables
$screen-height: calc(100vh - 50px);
$my-box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);

// GENERAL _____________________________________________________________________
body {
  font-size: 12px;
  font-family: 'Raleway';
  // font-family: 'Ubuntu', sans-serif;
  // font-family: 'Roboto', serif;
  // font-family: 'Poppins', sans-serif;
  // font-family: 'Fira Sans', sans-serif !important;
}
.react-parallax-content {
  height: 100%;
  color: white;
  .title {
    // text-shadow: 2px 0 0 $nuurd-cyan, 
    // -2px 0 0 $nuurd-cyan, 
    // 0 2px 0 $nuurd-cyan, 
    // 0 -2px 0 $nuurd-cyan, 
    // 1px 1px $nuurd-cyan, 
    // -1px -1px 0 $nuurd-cyan, 
    // 1px -1px 0 $nuurd-cyan, 
    // -1px 1px 0 $nuurd-cyan;
  }
}
.view-component {
  min-height: 120vh;
}
.title {
  font-family: 'Fredoka One';
}
button {
  background-color: $nuurd-orange !important;
  color: white !important;

  &:hover {
    text-decoration: none;
    background-color: $nuurd-orange-dark !important;
  }
}
.dashboard {
  font-family: 'Poppins';
  background-image: linear-gradient(-225deg, #ccfced 0%, #fcc9f2 100%);
}
// NAV & FOOTER _________________________________________________________________
.navbar {
  height: 50px;
  
  .menu-link {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    width: 80px;
    height: 100%;
    max-height: 50px;
  
    &:hover {
      text-decoration: none;
      color: $nuurd-orange;
    }
  }
}

.footer {
  height: 50px;
}

// HOME ___________________________________________________________________
#login-box {
  border-radius: 5px;
  width: 400px;
  height: 400px;
  background-color: rgba(50, 50, 50, 0.3);

  input {
    color: white;
  }

  input:focus {
    /* border-bottom: 1px solid #1a237e; */
    border-bottom: 1px solid $nuurd-orange;
    box-shadow: 0 1px 0 0 $nuurd-orange;
  }

  input:focus + label {
    /* color: #1a237e; */
    color: white;
  }
}
.dash-menu-item {
  height: 50px;
  background-color:$nuurd-purple;

  a {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    // line-height: 55px;
    text-align: center;
  }

  a:hover {
    /* font-weight: bold; */
    /* color: #1a237e; */
    color: $nuurd-purple;
    border-radius: 5px;
    border: solid 2px $nuurd-purple;
    background-color: white;
    text-decoration: none;
  }
}
@media window and (max-height: 800px) {
  .parallax-container {
    // height:1000px;
    min-height: 140vh;
  }
}
