/*  LOGO _____________________________________________________________________*/
#ssc-logo-img {
  margin-top: 5px;
  width: 200px;
}
#ssc-logo-link {
  vertical-align: middle;
}

/*  GENERAL ___________________________________________________________________*/
.panel-lg {
  height: 500px;
  background-color: white;
  opacity: 0.6;
}
.filler-div {
  height: 200px;
}
.row {
  margin-bottom: 0px;
}

/*  HEADER ___________________________________________________________________*/
#home-component {
  margin: auto;
  width: 90%;
  padding: 50px;
  border-left: 20px solid #283593;
}

/*  FOOTER ___________________________________________________________________*/
#footer-content {
  height: 300px;
  padding: 40px;
  color: white;
  align-items: center;
}
.footer-box {
  height: 100%;
}
.footer-border {
  border-left: 1px solid white;
}
