/*  LOGO _____________________________________________________________________*/
#ssc-logo-img {
  margin-top: 5px;
  width: 200px;
}
#ssc-logo-link {
  vertical-align: middle;
}

/*  CONTAINERS ___________________________________________________________________*/
.panel-lg {
  height: 500px;
  background-color: white;
}
.filler-div {
  height: 150px;
}
.row {
  margin-bottom: 0px;
}

/*  HEADER ___________________________________________________________________*/
#home-component {
  /* padding: 50px 0px 50px 0px; */
  /* background-color:  rgba(204, 204, 204, 0.5); */
    background-color:  rgba(40, 53, 147, 0.95);
    height: 100%;
  /* border-left: 20px solid #283593; */
}
.home-div1 {
    margin: auto;
    padding: 5%;
    color: white;
    text-align: center;
    width: 60%;
}


/*  FOOTER ___________________________________________________________________*/
#footer-content {
  margin: auto;
  height: 100%;
  padding: 40px;
  color: white;
}
.footer-box {
  height: 100%;
  word-wrap: break-word;
}

#mobile-nav a {
    color: white;
}

#mobile-menu {
    float: right;
    color:  rgba(40, 53, 147, 0.95);
}

.sidenav-trigger {

}

@media only screen and (max-width: 600px) {
    #home-component {
        padding: 10px;
    }
    .home-div1 {
        font-size: 8px;
        width:100%;
        margin: auto;
    }

    #footer-content {
      height: 100%;
      padding: 10px;
      color: white;
      margin: auto;
    }
}
