/*  LOGO _____________________________________________________________________*/
#ssc-logo-img {
  margin-top: 5px;
  width: 200px;
}
#ssc-logo-link {
  vertical-align: middle;
}

/*  GENERAL ___________________________________________________________________*/
.panel-lg {
  height: 500px;
  background-color: white;
}
.filler-div {
  height: 150px;
}
.row {
  margin-bottom: 0px;
}

/*  HEADER ___________________________________________________________________*/
#home-component {
  margin: auto;
  width: 100%;
  padding: 50px 0px 50px 0px;
  background-color:  rgba(204, 204, 204, 0.5);
  color: white;
  /* border-left: 20px solid #283593; */
  /* border-radius: 5px; */
}
.home-div1 {
    height: 50%;
    padding: 5%;
    background-color:  rgba(40, 53, 147, 0.95);
    font-size: 8px;
    /* border-radius: 5px; */
}

.width50 {
    width: 50%;
}

/*  FOOTER ___________________________________________________________________*/
#footer-content {
  height: 300px;
  padding: 40px;
  color: white;
  margin: auto;
}
.footer-box {
  height: 100%;
  border-left: 1px solid white;
  word-wrap: break-word;
}


@media only screen and (max-width: 600px) {
    #home-component {
        padding: 10px;
        background-color:  rgba(40, 53, 147, 0.95);
        color: white;
    }

    .home-div1 {
        font-size: 8px;
    }

    .width50 {
        width: 100%;
    }

    #footer-content {
      height: 100%;
      padding: 10px;
      color: white;
      margin: auto;
    }

    .footer-box {
        height: 100%;
        border-left: 0px solid white;
    }
}
