/*  GENERAL ___________________________________________________________________*/
.panel-lg {
  height: 500px;
  background-color: transparent;
}
.filler-div {
  height: 150px;
}
.row {
  margin-bottom: 0px;
}
button {
  font-family: Roboto;
}
.btn {
  height: 45px;
  width: 110px;
}
.bold {
  font-weight: bold;
}
.parallax-container {
  height: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: transparent;
}
.parallax>img{
  width:25%;
}
/*  HOME ___________________________________________________________________*/
#home-component {
  height: auto;
  width: 80%;
  margin: auto;
  background-color: #fafafa;
  padding: 5%;
  color: black;
  text-align: center;
  font-size: 18px
}
#home-inner-div1 {
  margin: auto;
  width: 60%;
}

/*  Twitter APP Login ___________________________________________________________________*/

#login-warning {
  color: white;
  width: 350px;
  border-radius: 2px;
  padding: 5px;
  margin: auto;
}
#ttapp-login-box {
  border-radius: 5px;
  /* padding: 30px; */
  width: 275px;
  height: 325px;
  background-color: rgba(179, 179, 179, 0.9);
  margin-top: 10px;
}
#login-title {
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  color: black;
  height: 50px;
  padding: 10px 0px 10px 0px;
  border-radius: 5px 5px 0px 0px;
}
#tt-login-button {
  font-weight: bold;
  color: black;
  background-color: white;
}
/* label underline focus color */
#username:focus {
  /* border-bottom: 1px solid #1a237e; */
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 #000;
}
#password:focus {
  /* border-bottom: 1px solid #1a237e; */
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 #000;
}
#username:focus + label {
  /* color: #1a237e; */
  color: black;
}
#password:focus + label {
  /* color: #1a237e; */
  color: black;
}
#dashboard-component {
  height: 100%;
  background-color: rgba(179, 179, 179, 0.8);
}
.dash-menu-item {
  height: 60px;
  /* background-color: #1a237e; */
  background-color: #616161;
  color: white;
}
.dash-menu-item a {
  height:100%;
  width: 100%;
  color: white;
  /* font-weight: bold; */
  /* margin:auto; */
  display: inline-block;
  line-height: 55px;
  text-align: center;
}
.dash-menu-item a:hover {
  /* font-weight: bold; */
  /* color: #1a237e; */
  color: black;
  background-color: white;
}
.dashboard-child-component {
  margin: 3%;
}
.fileupload-func-panel {
  background-color: white;
  padding: 1%;
  min-height: 350px;
  border-radius: 5px;
}
#parse-menu {
    background-color: white;
    padding: 1%;
    min-height: 200px;
    border-radius: 5px;
}

/*  MEDIA ___________________________________________________________________*/
@media only screen and (max-width: 600px) {
  #home-component {
    padding: 5px;
    width: 100%;
  }
  .home-div1 {
    font-size: 8px;
    width: 100%;
    margin: auto;
  }
  #home-inner-div1 {
    margin: auto;
    width: 80%;
  }
  #footer-content {
  height: 100%;
  padding: 10px;
  color: white;
  margin: auto;
  }
}
